<!DOCTYPE html>
<html lang="en">

<!-- Header -->

<head>
    <!-- Google Ads -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-448897093"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'G-8KQSRQH0ND');
        gtag('config', 'AW-448897093');
    </script>

    <title>ForTheContent - A Discord server for content creators</title>
    <meta name="description" content="ForTheContent is a Discord server for content creators, developers, influencers, musicians, and more">
    <meta name="author" content="ForTheContent">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">
    <meta name="theme-color" content="#1a1e23">

    <link rel="canonical" href="https://forthecontent.xyz/">

    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="ForTheContent: A Discord server for content creators">
    <meta property="og:description" content="ForTheContent is a Discord server for content creators, developers, influencers, musicians, and more">
    <meta property="og:image" content="https://forthecontent.xyz/images/forthecontent_a_discord_server_for_content_creators.png">

    <meta property="og:url" content="https://forthecontent.xyz/">
    <meta property="og:site_name" content="ForTheContent">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="ForTheContent: A Discord server for content creators">
    <meta name="twitter:description" content="ForTheContent is a Discord server for content creators, developers, influencers, musicians, and more">
    <meta name="twitter:image" content="https://forthecontent.xyz/images/forthecontent_a_discord_server_for_content_creators.png">
    <meta name="twitter:site" content="@forthecontentdiscord">
    <meta name="keywords" content="discord server for content creators, content creator discord server, discord server for small content creators">

    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="https://forthecontent.xyz/images/favicon-32x32.png" sizes="32x32">
    <link rel="icon" href="https://forthecontent.xyz/images/android-chrome-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="https://forthecontent.xyz/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="https://www.delac.io/WOW/css/libs/animate.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- WOW Animation -->
    <script src="https://www.delac.io/WOW/dist/wow.min.js"></script>
    <!-- Lottie -->
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <script>
        wow = new WOW({ mobile: true })
        wow.init();
    </script>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>

<!-- Body -->

<body class="home">
    <!-- Navbar -->
    <%- include('../partials/navbar') -%>

    <!-- Main div -->
    <div class="main-div">
        <main class="page__content page--transition-fade" data-swup="0">
            <div class="section__bg-color section__bg-cover section hero__promo">
                <div class="hero__promo__background-layer">
                    <img class="hero__promo__background-layer__image div__bottom" src="/images/div_bottom.png" alt="foreground grey sloping curve">
                </div>
                <div class="hero__container container container--responsive-padding container--very-wide">
                    <div class="hero__promo__wrapper">
                        <div class="hero__promo__text-col content__area wow fadeInLeft" data-wow-duration="0.7s">
                            <h1 class="hero__promo__heading text__rotation">A community server for <span class="sub__text">
                                    <div class="flip__vertical">
                                        <span>content creators</span>
                                        <span>developers</span>
                                        <span>influencers</span>
                                        <span>musicians</span>
                                    </div>
                                </span></h1>
                            <div class="component__hero__info hero__info hero__promo__info content__area">
                                <p>ForTheContent connects all types of content creators from all around the world together in a friendly and welcoming Discord server</p>
                            </div>

                            <ul class="body-list">
                                <li class="body-list-item">
                                    <div class="list-div">
                                        <img class="list-img" src="/images/6811255.png" alt="discord server for content creators">
                                    </div>
                                    <span>Useful Resources</span>
                                </li>
                                <li class="body-list-item">
                                    <div class="list-div">
                                        <img class="list-img" src="/images/8021791.png" alt="discord server for content creators">
                                    </div>
                                    <span>Help & Advice</span>
                                </li>
                                <li class="body-list-item">
                                    <div class="list-div">
                                        <img class="list-img" src="/images/2919740.png" alt="discord server for content creators">
                                    </div>
                                    <span>Reviews & Feedback</span>
                                </li>
                                <li class="body-list-item">
                                    <div class="list-div">
                                        <img class="list-img" src="/images/3314642.png" alt="discord server for content creators">
                                    </div>
                                    <span>Friendly Community</span>
                                </li>
                            </ul>

                            <div class="buttons-group">
                                <div class="buttons-group__wrapper">
                                    <button class="button button--primary button__col" onclick="window.location='https://discord.gg/forthecontent'" target="_blank" rel="noopener">
                                        <i class="bi bi-discord button__icon"></i> Join The Discord Server</button>
                                </div>
                            </div>
                        </div>

                        <div class="hero__promo__image-col">
                            <div class="lottie__wrapper">
                                <lottie-player src="/lotties/forthecontent_discord_animation.json" background="transparent" speed="1" loop autoplay></lottie-player>
                            </div>
                        </div>

                        <div class="anchor__wrapper">
                            <a href="#features">
                                <div class="chev__down animate__animated animate__bounce animate__infinite animate__slow">
                                    <i class="bi bi-chevron-compact-down chev-down"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <!-- Page body -->
    <div class="wp-block-vbi-section softer-white section__bg-color section body__section" id="features">
        <div class="container content__area container--very-wide container--responsive-padding">

            <div class="wp-block-vbi-two-column-layout row content__area row--center">
                <div class="wp-block-vbi-column-layout col col--md-6 content__area wow fadeInUp" data-wow-duration="0.7s">
                    <h2 class="section__header">Endless Resources</h2>

                    <p>Gain immidiate access to <strong>learning resources</strong> for a multitude of platforms. A common probelm for small content creators is <strong>slow growth</strong>. ForTheContent offers a library of great resources and learning equipment that will help you with things like, boosting your <strong>audience retention</strong> on YouTube, gaining more <strong>followers</strong> on Twitch, broadening your <strong>reach</strong> on TikTok, and so much more</p>
                    
                    <a href="/resources">Browse resources</a>
                </div>
                <!-- Image -->
                <div class="wp-block-vbi-column-layout col col--md-6 content__area">
                    <div class="wp-block-vbi-animation-block animation-block" data-plugin="lottie-animation">
                        <div class="js--lottie-animation lottie--responsive" style="width:auto">
                            <div class="lottie lottie__center">
                                <img class="mock-image wow fadeInUp" data-wow-duration="0.7s" src="/images/platforms.svg" alt="discord, youtube, twitch, instagram, tiktok content creators">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="body__separator"></div>

            <div class="wp-block-vbi-two-column-layout row content__area row--center row--reverse">
                <div class="wp-block-vbi-column-layout col col--md-6 content__area">
                    <div class="wp-block-vbi-heading-block heading-block__container content__area heading-block wow fadeInUp" data-wow-duration="0.7s"">
                        <h2 class=" section__header">Connect With Other Creators</h2>

                        <p>Meet and chat with <strong>other content creators</strong>, in all niches, from <strong>all around the world</strong>. <strong>Collaborating</strong> with other content creators who are within your niche is a great way to <strong>gain exposure</strong> and reach a <strong>new audience</strong> who otherwise would have not known about your content</p>
                    </div>
                </div>
                <!-- Image -->
                <div class="wp-block-vbi-column-layout col col--md-6 content__area">
                    <div class="wp-block-vbi-animation-block animation-block" data-plugin="lottie-animation">
                        <div class="js--lottie-animation lottie--responsive" style="width:auto">
                            <div class="lottie lottie__center">
                                <img class="mock-image wow fadeInUp" data-wow-duration="0.7s" src="/images/discord_mock1.svg" alt="discord server mock image 1">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="body__separator"></div>

            <div class="wp-block-vbi-two-column-layout row content__area row--center">
                <div class="wp-block-vbi-column-layout col col--md-6 content__area wow fadeInUp" data-wow-duration="0.7s">
                    <h2 class="section__header">Gain Useful Insight</h2>

                    <p>Growing an audience is never easy, most small content creators struggle to achieve <strong>steady growth</strong> early on, and that is nothing to be worried about. We can help you work through those challenging hurdles of figuring out how to <strong>understand your platforms algorithm</strong>, when the best time to upload your content is, which keywords will <strong>improve your contents SEO</strong>. Not matter matter what the hurdle is, we can work out a solution for you</p>
                </div>
                <!-- Image -->
                <div class="wp-block-vbi-column-layout col col--md-6 content__area">
                    <div class="wp-block-vbi-animation-block animation-block" data-plugin="lottie-animation">
                        <div class="js--lottie-animation lottie--responsive" style="width:auto">
                            <div class="lottie lottie__center">
                                <img class="mock-image wow fadeInUp" data-wow-duration="0.7s" src="/images/discord_mock2.svg" alt="discord server mock image 2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <%- include('../partials/footer') -%>
</body>

</html>